<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="refresh" content="0;url=/keystatic" />
		<title>CMS Redirecting...</title>
	</head>
	<body>
		<p>Redirecting to <a href="/keystatic">Admin UI</a>...</p>
	</body>
</html>
